opencv-python
mediapipe
numpy
speechrecognition
pyaudio
gTTS
playsound3
python-dotenv
psycopg2-binary
matplotlib
groq
requests
streamlit
fastapi
uvicorn
sqlalchemy
passlib[bcrypt]
python-jose
python-multipart
